body{
    padding:5px;
    margin: 13px;
    background-color: rgb(58, 238, 34);
    text-align: center;
    background-image: url(CarsCartoon.jpg);
    background-attachment: fixed;
    background-size: cover;
    

    
}
#div1{
    color:rgb(37, 10, 187);
    background-color: bisque;
    border:black 2px solid;
    border-radius: 20px;
    height: 70px;
    width: 1000px;
    text-align:center;
    padding:5px;
    margin: 5px;

}
.div2{
    color: rgb(116, 67, 12);
    background-color:rgb(44, 170, 62);
    border:black 3px solid;
    height:100px;
    width:500px;
    text-align:center;
   border-radius:20px;
   padding:3px;
   margin: 5px;
}
table{
    border: darkgoldenrod;
    border-radius: 20px;
    border:2px solid red;
    height: 100px;
    width: 500px;
}
td{
    border: 1px solid green;
    border-radius: 10px;
    height:30px;
    width: 90px;
    text-align: center;
    font-size:20px;
    background:ivory;
}
button{
    height: 20px;
    width: 140px;
    border-radius: 12px;
    background-color: lawngreen;
}

