body{
    padding:10px;
    margin: 10px;
    background-color: blueviolet;
    text-align: start;
}
.div1{
    color:aqua;
    background-color: bisque;
    border:black 2px solid;
    border-radius: 20px;
    height: 100px;
    width: 500px;

}
.div2{
    color: rgb(116, 67, 12);
    background-color:rgb(43, 187, 62);
    border:black 3px solid;
    height:100px;
    width:500px;
    text-align:center;
   border-radius:20px;
}