body{
    background: #c21500;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: fit-content;
    background-repeat: no-repeat;
}
.main-container{
    display:list-item;
    content: 3;
}

div.container{
    width: 500px;
    height: 200px;
    float: left;
    background-color: coral;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgb(41, 37, 37) 1px 3px 5px;
    display: inline;
    margin-left:10px;
    margin-top: 10

}

.imgBlock{
    border: 0px;
    padding: 0px;
    width: 100px;
    height:100px;
    border-radius: 10px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    /* height: 5vh; */
    border-radius:10px;
}
.buttonBlock button{
    float: right;
    background-color: black;
    color: blanchedalmond;
    margin-right: 10px;
    height:30px;
    border-radius: 5px;
    box-shadow: gray 1px 2px 4px;
}
.textBlock{
    margin-left: 200px;
}


